.checkout-horizontal-line {
    max-width: 992px;
}

.checkout-total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    margin: 0 auto;
    max-width: 960px;
}

.home-button {
    margin-left: auto;
    background-color: #EAEAEA;
}
  
.home-container {
    display: flex;
    max-width: 992px;
    margin: 64px auto;
    @media screen and (max-width: 1023px) and (min-width: 688px) {
      max-width: 656px;
    }
}