@import '../index.scss';

.home-body {
  min-width: 288px;
  margin: 0 16px;
}

.checkout-button {
  @extend .extend-button;
  margin-left: auto;
  background-color: #EAEAEA;
}
  
.checkout-container {
  display: flex;
  margin: 64px auto;
  max-width: 912px;
  @media screen and (max-width: 943px) and (min-width: 632px) {
    max-width: 592px;
  }
}

.checkout-icon-container {
  display: flex;
  margin: 64px auto;
  width: 100%;
  background-color: transparent;
  border: none;
}

.checkout-icon-bubble {
  display: flex;
  margin-left: auto;
  align-content: center;
  background-color: #EAEAEA;
  box-shadow: 0px 2px 5px #C0C0C0;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  &:hover {
    background-color: #C0C0C0;
    cursor: pointer;
  }
}

.checkout-icon {
  padding: 25%;
}