.home-body {
  min-width: 256px;
  margin: 0 32px;
}

.checkout-button {
    margin-left: auto;
    background-color: #EAEAEA;
}
  
.checkout-container {
  display: flex;
  max-width: 992px;
  margin: 64px auto;
}