@import '../index.scss';

.checkout-item-container {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding:  24px 16px;
    max-width: 880px;
    margin: 0 auto;
    &:not(:last-child) {
        margin-bottom: 16px;
    }
    &:first-child {
        margin-top: 164px;
    }
}

.checkout-item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
    @media screen and (max-width: 631px) {
        margin-bottom: 24px;
    }
}

.checkout-counter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkout-counter-button {
    @extend .extend-button;
    background-color: #FFFFFF;
    width: 36px;
    height: 36px;
    @media screen and (max-width: 631px) {
        width: 48px;
        height: 48px;
    }
}

.checkout-counter-label {
    margin: 0 8px;
    @media screen and (max-width: 631px) {
        margin: 0 16px;
    }
}

.checkout-quantity-container {
    display: flex;
    flex-direction: row;
}

.checkout-quantity-label {
    align-self: center;
    margin-right: 16px;
}