@import '../index.scss';

.item-container {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #EAEAEA;
    border-radius: 8px;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(3, 288px);
    gap: 24px;
    justify-content: center;
    margin-bottom: 64px;
    @media screen and (max-width: 943px) and (min-width: 632px) {
        grid-template-columns: repeat(2, 288px);
        gap: 16px;
    }
    @media screen and (max-width: 631px) {
        grid-template-columns: 288px;
    }
  }

.item-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-container {
    margin-bottom: 20px;
}

.item-price {
    align-self: center;
}

.item-name {
    margin-bottom: 4px;
}

.item-button {
    @extend .extend-button;
    background-color: #FFFFFF;
    width: 80px;
}